* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Merriweather Sans', sans-serif;*/
	font-family: 'Lato', sans-serif;
	text-decoration: none; 
}

header.primary-header {
	background: radial-gradient(transparent, rgba(51, 0, 102, 0.5)), url("/images/child.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: 0 0 15px -5px #000000;
	box-shadow: 0 0 15px -5px #000000;
}

div.top-nav {
	background-color: rgb(22, 6, 39);
}

.top-nav > div {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	/*background-color: rgba(255,255,255,0.5);*/
}

.top-nav nav {
	/*background-color: yellow; */
	float: right; 
}

.top-nav span {
	color: white;
	font-family: 'lato';
}

.top-nav nav a {
	padding: 5px 5px; 
	display: inline-block;
	/*background-color: red; */
	/*border-right: 1px solid white;*/
	color: white; 
}

.top-nav nav a:last-child {
	border: none;
}

div.main-nav {
	/*background-color: rgba(255,255,255,0.5);*/
	background-color: rgba(51, 0, 102, 0.5);
}

.main-nav > div {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.main-nav p {
	float: left;
	color: black;  
	font-family: 'lato';
	font-weight: 300;
	font-size: 40pt;
	color: white;
}

.main-nav nav {
	position: absolute;
	top: 50%;
	right: 50px;
	font-family: 'lato';
	font-weight: 300;
	transform: translateY(-50%);
}

.main-nav nav a {
	padding: 0 15px; 
	display: inline-block;
	/*background-color: red; */
	border-right: 1px solid white;
	text-decoration: none;
	color: white;
}

.main-nav a:hover {
	color: #745399;
	background-color: #E6E7EB;
}

.main-nav nav a:last-child {
	border: none;
}

div.hero {
	/*background-color: red;*/
}

.hero > div {
	width: 960px;
	height: 300px;
	margin: 0 auto;
	/*background-color: rgba(255,255,255,0.5);*/
}

main {
	background-color: rgb(230, 231, 235);
	margin: 0 auto; 
}

.whole-width {
	width: 100%;
	text-align: left;
}

.breakouts {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	font-weight: 300; 
}

.breakouts div {
	display: inline-block;
	width: 250px;
	margin: 10px;
	vertical-align: top;
}

.breakouts h2 {
	font-weight: 300;
}

.breakouts div p {
	padding: 10px;
	text-align: initial;
}

.breakouts .about {
	/*background-color: lightgreen;*/
}

.breakouts .programs {
	/*background-color: lightpink;*/
}

.programs ul {
	list-style-type: none; 
}

.breakouts .donate {
	/*background-color: lightblue;*/
}

.donate h4 {
	padding: 10px;
	font-weight: 300;
}

.donate ul {
	list-style-type: none;
}

div.crf {
	text-align: center;
	font-size: 10pt; 
	font-weight: 400;
}

footer {
	background-color: rgb(22, 6, 39);
	color: white;
}
footer > div {
	width: 960px;
	margin: 0 auto; 
	text-align: center;
}

footer nav a {
	padding: 10px 15px; 
	display: inline-block;
	text-decoration: none; 
	color: white;
}

footer nav a:hover {
	color: rgb(22, 6, 39);
	background-color: white;
}

/* About Us Page*/
main > div {
	width: 960px; 
	margin: 0 auto; 
	overflow: hidden;
	padding-top: 10px; 
	padding-bottom: 10px; 
	font-weight: 300;
}

main > div h2, h3 {
	font-weight: 300;
}

.sponsors ul {
	list-style-type: none;  
}

div.about-us {
	float: left;
	width: 450px; 
	font-weight: 300;
}

div.sponsors {
	float: right;
	width: 450px; 
	font-weight: 300;
}

/* Donate page*/

.main-content {
	width: 960px; 
	margin: 0 auto; 
	overflow: hidden;
	padding-top: 10px; 
	padding-bottom: 10px; 
	font-weight: 300;
}

.refurbish {
	float: left;
	width: 450px;
	font-weight: 300;
}

.class-off {
	float: right;
	width: 450px;
	font-weight: 300;
}

.honors {
	width: 500px; 
}
.honors h2, h3, h4 {
	margin: 5px 0 5px 0;
}

