* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header.primary-header {
	
}

div.top-nav {
	background-color: green;
	height: 40px;
}

.top-nav > div {
	width: 960px;
	margin: 0 auto;
}

div.main-nav {
	background-color: orange;
	height: 90px;
}

.main-nav > div {
	width: 960px;
	margin: 0 auto;
}

div.hero {
	background-color: red;
	height: 300px;
}

.hero > div {
	width: 960px;
	margin: 0 auto;
}

main {
	background-color: green;
}

.breakouts {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.breakouts div {
	display: inline-block;
	width: 250px;
	height: 400px;
}

.about {
}